In [2]:
# 1. How to import pandas and check the version?

import pandas as pd

pd.__version__

'1.0.1'

In [18]:
import numpy as np

In [26]:
# 2. How to create a series from a list, numpy array and dict?
import numpy as np

# List
lsData=[10,20,30,40,50,60]
listSeries=pd.Series(lsData)
print("Series from List \n",listSeries)

# Numpy Array
naData=np.arange(10,101,10)
naSeries=pd.Series(naData)
print("Series from Numpy Array \n",naSeries)

# Numpy Dict
dictData={1:"Jan",2:"Feb",3:"Mar",4:"Apr",5:'May',6:'Jun',
          7:'Jul',8:'Aug',9:'Sept',10:'Oct',11:'Nov',12:'Dec'}
dictSeries=pd.Series(dictData)
print("Series from Dictionary \n",dictSeries)

Series from List
 0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
Series from Numpy Array
 0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int32
Series from Dictionary
 1      Jan
2      Feb
3      Mar
4      Apr
5      May
6      Jun
7      Jul
8      Aug
9     Sept
10     Oct
11     Nov
12     Dec
dtype: object

In [ ]:
# 3. How to convert the index of a series into a column of a dataframe?

In [28]:
# 4. How to combine many series to form a dataframe?

col1=pd.Series(np.arange(10,21))
col2=pd.Series(np.arange(50,61))
col3=pd.Series(np.arange(0,101,10))

colData=[col1,col2,col3]

df=pd.DataFrame(colData)
df

    0   1   2   3   4   5   6   7   8   9   10
0  10  11  12  13  14  15  16  17  18  19   20
1  50  51  52  53  54  55  56  57  58  59   60
2   0  10  20  30  40  50  60  70  80  90  100

In [31]:
# 5. How to assign name to the series’ index?

ds=pd.Series(np.arange(0,101,10),name='Name')
ds

0       0
1      10
2      20
3      30
4      40
5      50
6      60
7      70
8      80
9      90
10    100
Name: Name, dtype: int32

In [17]:
# 6. How to get the items of series A not present in series B?

s1=pd.Series([1,2,3,4,5,6,7,8,9,10])
s2=pd.Series([11,12,13,14,15,6,7,8,9,10])

s1==s2

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [18]:
# 7. How to get the items not common to both series A and series B?

s1=pd.Series([1,2,3,4,5,6,7,8,9,10])
s2=pd.Series([11,12,13,14,15,6,7,8,9,10])

s1==s2

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [28]:
# 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
import numpy as np

s=pd.Series([11,12,13,14,15,6,7,8,9,10])

print('minimum:',s.min())
print('25th percentile:',np.percentile(s,25))
print('median:',s.median())
print('75th percentile:',np.percentile(s,75))
print('max:',s.max())

minimum: 6
25th percentile: 8.25
median: 10.5
75th percentile: 12.75
max: 15

In [34]:
# 9. How to get frequency counts of unique items of a series?

s=pd.Series([11,12,13,14,15,6,7,8,9,10,6,7,8,9,10])

print(s.value_counts())

10    2
9     2
8     2
7     2
6     2
15    1
14    1
13    1
12    1
11    1
dtype: int64

In [ ]:
# 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [38]:
# 11. How to bin a numeric series to 10 groups of equal size?

In [48]:
# 12. How to convert a numpy array to a dataframe of given shape? (L1)

s=np.arange(10,21)
s1=np.arange(100,210,10)
ds=pd.DataFrame([s,s1])
ds

     0    1    2    3    4    5    6    7    8    9   10
0   10   11   12   13   14   15   16   17   18   19   20
1  100  110  120  130  140  150  160  170  180  190  200

In [66]:
# 13. How to find the positions of numbers that are multiples of 3 from a series?

s=np.arange(10,21)
ser=pd.Series(s)
df=pd.DataFrame(s)
m=(df%3==0)
print(df.where(m,-df))

     0
0  -10
1  -11
2   12
3  -13
4  -14
5   15
6  -16
7  -17
8   18
9  -19
10 -20

In [52]:
# 14. How to extract items at given positions from a series?

ser=pd.Series([10,34,54,76,23,54,87,23])
ser[3]

76

In [159]:
# 15. How to stack two series vertically and horizontally ?
ser=pd.Series([10,34,54,76,23,54,87,23])
s=pd.Series([11,12,13,14,15,6,7,8])

df=pd.DataFrame([ser,s])
df

    0   1   2   3   4   5   6   7
0  10  34  54  76  23  54  87  23
1  11  12  13  14  15   6   7   8

In [110]:
# 16. How to get the positions of items of series A in another series B?

s1 = pd.Series([10,34,54,76,23,54,87])
s2 = pd.Series([34,23,87])

[pd.Index(s1).get_loc(i) for i in s2]

[1, 4, 6]

In [143]:
# 17. How to compute the mean squared error on a truth and predicted series?
# MSE= (mean(y-y')^2)/n

truth = pd.Series([10,34,54,76,23,54,87,9])
predicted = pd.Series(range(10))
np.mean((truth-predicted) **2)

2318.625

In [150]:
# 18. How to convert the first character of each element in a series to uppercase?

s=pd.Series(['asd','qwe','zxc'])
for i in s:
    print(i.title())

Asd
Qwe
Zxc

In [154]:
# 19. How to calculate the number of characters in each word in a series?

s=pd.Series(['asd','qweadsfsd','zxcsgbgfbfg'])
for i in s:
    print(len(i))

3
9
11

In [163]:
# 20. How to compute difference of differences between consequtive numbers of a series?

s = pd.Series([10,34,54,76,23,54,87,9])
df=pd.DataFrame({"series":s,"diff(s1-s)":s.diff()})
df

   series  diff(s1-s)
0      10         NaN
1      34        24.0
2      54        20.0
3      76        22.0
4      23       -53.0
5      54        31.0
6      87        33.0
7       9       -78.0

In [ ]:
# 21. How to convert a series of date-strings to a timeseries?

In [ ]:
# 22. How to get the day of month, week number, day of year and day of week from a series of
# date strings?

In [ ]:
# 23. How to convert year-month string to dates corresponding to the 4th day of the month?

In [ ]:
# 24. How to filter words that contain atleast 2 vowels from a series?

In [16]:
# 25. How to filter valid emails from a series?

s = pd.Series(['asd@a.com', 'jdvkjvnan', 'fengejrn@sklnv.in', 'egtjjgbnod'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

s.str.findall(pattern)

0            [asd@a.com]
1                     []
2    [fengejrn@sklnv.in]
3                     []
dtype: object

In [42]:
# 26. How to get the mean of a series grouped by another series?

ls=pd.Series(np.random.choice(['asd','bqw','czx'],10))
a=pd.Series(np.linspace(1,10,10))
print(ls)
a.groupby(ls).mean()

0    asd
1    czx
2    asd
3    czx
4    bqw
5    czx
6    czx
7    czx
8    asd
9    asd
dtype: object

asd    5.75
bqw    5.00
czx    5.40
dtype: float64

In [ ]:
# 27. How to compute the euclidean distance between two series?

In [ ]:
# 28. How to find all the local maxima (or peaks) in a numeric series?

In [ ]:
# 29. How to replace missing spaces in a string with the least frequent character?

In [ ]:
# 30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that
# having random numbers as values?

In [ ]:
# 31. How to fill an intermittent time series so all missing dates show up with values of previous
# non-missing date?

In [ ]:
# 32. How to compute the autocorrelations of a numeric series?