In [20]:
n=5
for i in range(1,n+1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [40]:
n=6
for i in range(0,n):
    print(" "*(n-i-1),"* "*i)
for i in range(n-2,0,-1):
    print(" "*(n-i-1),"* "*i)

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [72]:
n=5
for i in range(0,n+1):
    for j in range(0,i):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [67]:
'''
1
2 2
3 3 3
4 4 4 4
'''

n=5
for i in range(0,n):
    print((str(i)+" ")*i)

1
2 2
3 3 3
4 4 4 4

In [91]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
name=[]
score=[]
for i in students:
    name.append(i[0])
    score.append(i[1])
ss=sorted(score)
m=[]
for i in range(0,len(score)):
    if score[i]==ss[1]:
        m.append(i)
sn=[]
for i in m:
    sn.append(name[i])
sn=sorted(sn)
for i in sn:
    print(i)

Berry
Harry

In [151]:
'''a=''
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        a=a+str(i)+","
print(a[0:-1])'''
ls=[]
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        ls.append(i)
ls=str(ls)
print(ls[1:-1])

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

In [101]:
dict={}
for i in range(1,11):
    dict[i]=i*i
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [102]:
lines=[]
while True:
    l=input()
    lines.append(l)
    if l=='':
        break
print(lines)
for i in lines:
    print(i.upper())

Hello
This is Pranay

['Hello', 'This is Pranay', '']
HELLO
THIS IS PRANAY

In [98]:
n=0
if n%2==0:
    print("Even")
else:
    print("Odd")

Even

In [99]:
age=19
if age>=8 and age<=12:
    print("Welcome")
else:
    print("Sorry not allowed ..Bye!")

Sorry not allowed ..Bye!

In [204]:
def asd(*Fruit):
    print(type(Fruit))
    return Fruit[1]

'''a={1,2,3,4,5,6}
b={5,6,4,10,12}
print(a.intersection(b),a.difference(b),a.union(b))
dir(set)'''
dir(dict)
asd(a='banana',b='apple',c='mango')

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [236]:
d={1:'banana',2:'apple',3:'mango'}
ls=[]
a=''
for k,v in d.items():
    a=(str(k)+"--->"+v)
    ls.append(a)
    print(k,v)

help(dict.update)
d.update([4,'orange'])
print(ls[1])
print(ls)

1 banana
2 apple
3 mango
Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [251]:
d={1:'banana',2:'apple',3:'mango',10:'banana',15:'banana',25:'banana'}
#d1={4:'orange'}
d.update({5:'Leechi',4:'fanas',6:'kiwi',7:'jambul'})
print(d)
d.popitem()
print(d)
d.pop(4)
print(d)

{1: 'banana', 2: 'apple', 3: 'mango', 10: 'banana', 15: 'banana', 25: 'banana', 5: 'Leechi', 4: 'fanas', 6: 'kiwi', 7: 'jambul'}
{1: 'banana', 2: 'apple', 3: 'mango', 10: 'banana', 15: 'banana', 25: 'banana', 5: 'Leechi', 4: 'fanas', 6: 'kiwi'}
{1: 'banana', 2: 'apple', 3: 'mango', 10: 'banana', 15: 'banana', 25: 'banana', 5: 'Leechi', 6: 'kiwi'}

In [271]:
def removeitem(d,ls):
    for i in ls:
        d.pop(i)
        
def getKeys(d):    
    for k,v in d.items():
        if v=='banana':
            ls.append(k)
    return ls

d={1:'banana',2:'apple',3:'mango',4:'banana',5:'banana',6:'banana'}
print(d)
ls=[]
getKeys(d)
removeitem(d,ls)
print(d)

{1: 'banana', 2: 'apple', 3: 'mango', 4: 'banana', 5: 'banana', 6: 'banana'}
{2: 'apple', 3: 'mango'}

In [285]:
def fibonacci(n):
    a= 0
    b= 1
    if n == 1:
        return a
    elif n == 2:
        return a,b
    else:
        print(a,b, end= " ")
        for i in range(1,n-1):
            c= a+b
            a=b
            b=c
            print(c, end=" ")
            
fibonacci(2)

(0, 1)

In [296]:
a,b=0,1
n=int(input("Enter range: "))
while b<=n:
    a,b=b,a+b
    print(a,end=" ")

Enter range: 100
1 1 2 3 5 8 13 21 34 55 89

In [295]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [308]:
n=int(input("Enter range: "))
s=0
a=''
for i in range(1,n+1):
    s+=i
    a=a+str(i)+' + '
print(a[:-2],"=",s)

Enter range: 5
1 + 2 + 3 + 4 + 5  = 15

In [310]:
e=o=0
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in numbers:
    if i%2==0:
        e+=1
    else:
        o+=1
print("Even Numbers =",e,"Odd Numbers =",o)

Even Numbers = 4 Odd Numbers = 5

In [311]:
n=int(input("Enter a number : "))
for i in range(1,11):
    print(n,"X",i,"=",n*i)

Enter a number : 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50